@model EmpMng.Models.Employee

@{
    ViewBag.Title = "EmpView";
}

<h2>Your Information</h2>


<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Salary
        </th>
        <th>
            Dept Name
        </th>
        <th>
            Manager
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.eid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Designation.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Employee1.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEmp", new { id = Model.eid })
        </td>
    </tr>

</table>
